<h1>Listing prayers</h1>

<% @prayers.each do |prayer| %>
<table border=0>
  <tr>
    <td><p class="title"><%= prayer.title %></p></td>
  </tr><tr>
    <td><p class="request"><%= prayer.request %></p></td>
  </tr><tr class="by">
    <td><%= prayer.by %></td>
  </tr>
  <% if !prayer.answer.nil? %>
  <tr class="answer">
    <td><%= prayer.answer %></td>
  </tr>
  <% end %>
  <tr class="controls" align=right>
    <td><%= link_to 'Show', prayer %></td>
    <td><%= link_to 'Edit', edit_prayer_path(prayer) %></td>
    <td><%= link_to 'Destroy', prayer, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
</table>
<% end %>

<br />

<%= link_to 'New Prayer', new_prayer_path %>
