<h1>Listing prayers</h1>

<% @prayers.each do |prayer| %>
<div class="card">
  <p class="title"><%= prayer.title %></p>
  <p class="request"><%= prayer.request %></p>
  <p class="by">by <em><%= prayer.by %></em></p>
  <% if !prayer.answer.nil? %>
    <p class="answer"><%= prayer.answer %></p>
  <% end %>
  <p class="controls">
    <%= link_to 'Edit', edit_prayer_path(prayer) %> |
    <%= link_to 'Delete', prayer, confirm: 'Are you sure?', method: :delete %>
  </p>
</div>
<% end %>

<br />

<%= link_to 'New Prayer', new_prayer_path %>
